/*================ common styles=================== */

:root {
   --roboto-font: 'Roboto', sans-serif;
   --raleway-font: 'Raleway', sans-serif;
   --font-size-subtitel: 36px;
   --font-size-logo: 18px;
   --font-size-min-titel: 20px;
   --navyblue: #2E2F42;
   --iris: #4D5AE5;
   --white: #FFFF;
   --slate: #434455;
   --cloud: #F4F4FD;
   --cornflower: #E7E9FC;
   --ocean: #404BBF;
   --cornflower: #E7E9FC;
   --green: #31D0AA;
   --lightslate: #8e8f99;
   --navyblue-modal: rgba(46, 47, 66, 0.40);
   --items: 6;
   --indent: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0;
}

.link {
   color: currentColor;
   text-decoration: none;
}

.list {
   list-style: none;
   padding: 0;
   margin: 0;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

.button {
   font-family: inherit;
   cursor: pointer;
   border: none;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

body {
   font-family: var(--roboto-font);
   font-weight: 400;
   font-size: 16px;
   color: var(--slate);
   background-color: var(--white);
   line-height: 1.5;
   letter-spacing: 0.32px;
}


main {
   flex-grow: 1;
}

.logo {
   font-family: var(--raleway-font);
   color: var(--iris);
   font-size: var(--font-size-logo);
   font-weight: 800;
   line-height: 1.17;
   letter-spacing: 0.54px;
   text-transform: uppercase;
}

.section {
   padding-top: 60px;
   padding-bottom: 60px;
}

.container {
   max-width: 1158px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
}

.sub-titel {
   font-size: 36px;
   font-weight: 700;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: var(--navyblue);
   text-align: center
}

.heading {
   font-size: 20px;
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--navyblue);
}

.text {}

/*================ header section=================== */

.header-section {
   border-bottom: 1px solid var(--cornflower, #E7E9FC);
   box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header-nav {
   display: flex;
   align-items: center;
}

.header-logo:not(:last-child) {
   margin-right: 76px
}

.header-logo-wrap {
   color: var(--navyblue);
}

.header-list {
   display: flex;
   align-items: center;
   gap: 40px;
}

.header-list-item {}

.header-list-link {
   position: relative;
   display: block;
   font-weight: 500;
   color: var(--navyblue);
   padding: 24px 0;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-link.current {
   color: var(--ocean);
}

.header-list-link.current::after {
   content: "";
   border-radius: 2px;
   background: var(--ocean);
   position: absolute;
   left: 0;
   width: 100%;
   height: 4px;
   bottom: -1px;
}

.address-block {
   font-style: normal
}

.address-list {
   display: flex;
   gap: 40px;
}

.address-list-item {}

.address-list-link {
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   padding: 24px 0;
}

.modal-form-link:hover,
.modal-form-link:focus,
.header-list-link:hover,
.header-list-link:focus,
.address-list-link:hover,
.address-list-link:focus {
   color: var(--ocean);
}



/*================ business section and main =================== */

.main-section {}

.business-section {
   background-color: var(--navyblue);
   background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   max-width: 1440px;
   margin: 0 auto;
   padding-top: 188px;
   padding-bottom: 188px;
}

.container-business {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}

.business-titel {
   font-size: 56px;
   font-weight: 700;
   line-height: 1.07;
   letter-spacing: 1.12px;
   text-align: center;
   color: var(--white);
   max-width: 496px;
   margin-bottom: 48px;
}

.business-button {
   font-family: var(--roboto-font);
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: var(--white);
   background-color: var(--iris);
   min-width: 169px;
   height: 56px;
   border: none;
   border-radius: 4px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button:hover,
.modal-form-button:focus,
.business-button:hover,
.business-button:focus {
   background-color: var(--ocean);
}

/*================description section=================== */

.description-section {
   padding-top: 120px;
   padding-bottom: 120px;
}

.container-description {}

.description-list {
   display: flex;
   flex-wrap: wrap;
   gap: 24px;
}

.description-list-item {
   flex-basis: calc((100% - 72px) / 4);
}

.description-list-wrap {
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 4px;
   background: var(--cloud);
   padding: 24px 0;
   margin-bottom: 8px;
}

.description-list-icon {}

.description-list-titel {
   margin-bottom: 8px;
}

.description-list-text {}

/*================we doing section=================== */

.we-doing-section {
   padding-top: 0;
   padding-bottom: 120px;
}

.container-doing-section {}

.we-doing-titel:not(:last-child) {
   margin-bottom: 72px;
}

.we-doing-list {
   display: flex;
   flex-wrap: wrap;
   gap: 24px;
}

.we-doing-list-item {
   flex-basis: calc((100% - 48px) / 3);
}

.we-doing-list-img {}

/*================team section=================== */

.team-section {
   padding-top: 120px;
   padding-bottom: 120px;
   background-color: var(--cloud);
}

.team-titel:not(:last-child) {
   margin-bottom: 72px;
}

.team-list {
   display: flex;
   flex-wrap: wrap;
   gap: 24px;
}

.team-list-item {
   background-color: var(--white);
   flex-basis: calc((100% - 72px) / 4);
   border-radius: 0px 0px 4px 4px;
   overflow: hidden;
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-list-img {}

.team-list-wraper-text {
   padding: 32px 0px;
   text-align: center;
}

.team-list-titel {
   margin-bottom: 8px
}

.team-list-text {
   margin-bottom: 8px;
}


.team-list-svg {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 24px;
}

.team-item-svg {}


.team-svg-linck {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   background-color: var(--iris);
   width: 40px;
   height: 40px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-svg-linck:hover,
.team-svg-linck:focus {
   background-color: var(--ocean);
}

.team-svg-icon {
   fill: var(--cloud);
}

/*================Ñustomer section=================== */

.customer-section {
   padding: 120px 0;
}

.customer-title {
   text-align: center;
   margin-bottom: 72px;
}

.customer-list {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   gap: 24px;
}

.customer-list-item {
   display: flex;
   height: 88px;
   flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.customer-list-linck {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 4px;
   width: 100%;
   border: 1px solid var(--lightslate);
   color: var(--lightslate);
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-list-linck:hover,
.customer-list-linck:focus {
   border-color: var(--ocean);
   color: var(--ocean);
}

.customer-list-icon {
   fill: currentColor;
}

/*================footer section=================== */

.footer-section {
   padding-top: 100px;
   padding-bottom: 100px;
   background-color: var(--navyblue);
}

.footer-container {
   display: flex;
   align-items: baseline;
}

.footer-wrap-info:not(:last-child) {
   margin-right: 120px;
}

.footer-logo {
   display: inline-block;
   margin-bottom: 16px;
}

.footer-logo-wrap {
   color: var(--cloud);
}

.footer-text {
   color: var(--cloud);
   max-width: 264px;
}

.footer-social {
   margin-right: 80px;
}

.footer-titel {
   color: var(--white);
   font-weight: 500;
   font-size: 16px;
   margin-bottom: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
}


.footer-list {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 16px;
}

.footer-list-item {}

.footer-list-linck {
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--cloud);
   background-color: var(--iris);
   width: 40px;
   height: 40px;
   border-radius: 50%;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-icon {
   fill: currentColor;
}

.footer-list-linck:hover,
.footer-list-linck:focus {
   background-color: var(--green);
}

.footer-form {
   display: flex;
   gap: 24px;
}

.footer-form-label {}

.footer-form-titel {
   color: var(--white);
   font-weight: 500;
   margin-bottom: 16px;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
}


.footer-form-imput {
   width: 264px;
   height: 40px;
   flex-shrink: 0;
   border-radius: 4px;
   border: 1px solid var(--white);
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
   background-color: transparent;
   outline: transparent;
   font-size: 12px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: var(--white);
   padding-left: 16px;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-imput::placeholder {
   color: var(--white);
}

.footer-form-imput:focus {
   border-color: #4D5AE5;
}

.footer-form-submit {}

.footer-form-button {
   display: flex;
   min-width: 165px;
   height: 40px;
   justify-content: center;
   align-items: center;
   font-family: "Roboto", sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: var(--white);
   border-radius: 4px;
   background-color: var(--iris);
   border: none;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button:hover,
.footer-form-button:focus {
   background-color: var(--ocean);
}

.footer-form-icon {
   width: 24px;
   height: 24px;
   margin-left: 16px;
}


/* ------------section portfolio--------------- */

.main-section-portfolio {}

/* ------------gallery filter--------------- */
.portfolio-filter-list {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 24px;
}

.portfolio-filter-list:not(:last-child) {
   margin-bottom: 72px;
}

.filter-list-item {}

.filter-list-button {
   font-family: var(--roboto-font);
   font-weight: 500;
   line-height: 1.5;
   font-size: 16px;
   background-color: var(--cloud);
   color: var(--iris);
   letter-spacing: 0.04em;
   border: 1px solid var(--cornflower);
   border-radius: 4px;
   padding: 12px 24px;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.filter-list-button:hover,
.filter-list-button:focus {
   background-color: var(--ocean);
   color: var(--white);
   box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
   border: 1px solid transparent;
}

/* ------------gallery-section--------------- */

.gallery-section {
   padding-top: 96px;
   padding-bottom: 120px;
}

.container-gallery {}

.gallery-list {
   display: flex;
   flex-wrap: wrap;
   gap: 24px;
   row-gap: 48px;
}

.gallery-list-item {
   position: relative;
   background: var(--white);
   width: calc((100% - 48px) / 3);
}

.gallery-list-wrap {
   position: relative;
   overflow: hidden;
}

.gallery-list-link {
   display: block;
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-list-link:hover,
.gallery-list-link:focus {
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.gallery-list-link:hover .gallery-overlay-text,
.gallery-list-link:focus .gallery-overlay-text {
   transform: translateY(0%);
}

.gallery-list-img {}

.gallery-list-wraper-text {
   padding: 32px 16px;
   border: 1px solid #e7e9fc;
   border-top: none;
}

.gallery-list-titel {
   margin-bottom: 8px
}

.gallery-list-text {}

.gallery-overlay-text {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   color: var(--cloud);
   font-size: 16px;
   font-weight: 400;
   line-height: 1.5;
   letter-spacing: 0.02em;
   padding: 40px 32px;
   background-color: #4d5ae5;
   height: 100%;
   width: 100%;
   transform: translateY(100%);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ------------ Modal window --------------- */

.backdrop {
   position: fixed;
   top: 0;
   left: 0;

   width: 100%;
   height: 100%;
   background-color: rgba(46, 47, 66, 0.4);

   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
}

.modal-blok {
   padding: 72px 24px 24px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(1);
   width: 408px;
   min-height: 584px;
   background-color: #fcfcfc;
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 4px;
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.modal-btn {
   position: absolute;
   top: 24px;
   right: 24px;
   width: 24px;
   height: 24px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #e7e9fc;
   border: 1px solid rgba(0, 0, 0, 0.1);
   padding: 0;

   cursor: pointer;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
   background-color: #404bbf;
   border: none;
}

.modal-btn-icon {
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
   fill: #ffffff;
}

.modal-caption {
   margin-bottom: 16px;
   color: var(--navyblue);
   text-align: center;
   font-weight: 500;
   line-height: 1.5;
   text-align: center;
   letter-spacing: 0.02em;
}


.modal-form {}

.modal-form-wrap {

   margin-bottom: 8px;
}

.modal-form-label {
   color: var(--lightslate);
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.04em;
   margin-bottom: 4px;
   display: block;
}

.modal-form-field {
   position: relative;

}

.modal-form-input {
   padding-left: 38px;
   width: 100%;
   height: 40px;
   border-radius: 4px;
   border: 1px solid rgba(46, 47, 66, 0.4);
   outline: transparent;
   background-color: transparent;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-form-icon {
   position: absolute;
   top: 50%;
   left: 16px;
   transform: translateY(-50%);
   width: 18px;
   height: 24px;
   pointer-events: none;
   stroke: none;
   fill: #2E2F42;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.modal-form-comment {
   width: 100%;
   border-radius: 4px;
   padding: 8px 16px;
   height: 120px;
   outline: transparent;
   resize: none;
   border: 1px solid rgba(46, 47, 66, 0.4);

   line-height: 1.17;
   letter-spacing: 0.04em;
   color: rgba(46, 47, 66, 0.4);
   background-color: transparent;
   font-size: 12px;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrap-comment {
   margin-bottom: 16px;
}

.modal-form-comment:focus,
.modal-form-input:focus {
   border-color: #4D5AE5;
}

.wrap-comment::placeholder {
   color: var(--navyblue-modal);
}

.modal-form-input:focus + .modal-form-icon {
   fill: #4D5AE5;
}

.form-wrap-checkbox {

   margin-bottom: 24px;
}

.modal-form-agreement {
   display: block;
   width: 100%;
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.04em;
   color: var(--lightslate);
}

.agreement-checkbox {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   fill: transparent;
   width: 16px;
   height: 16px;
   border: 1px solid rgba(46, 47, 66, 0.4);
   border-radius: 2px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type='checkbox']:checked + label > span {
   background-color: var(--ocean);
   border: none;
   fill: var(--cloud);
}

.agrement-checkbox-icon {
   width: 16px;
   height: 16px;
}



.modal-form-desc {
   color: var(--lightslate);
   font-family: Roboto;
   font-size: 12px;
   line-height: 1.16;
   letter-spacing: 0.04em;
   user-select: none;
}



.modal-form-link {
   color: var(--iris);
}

.modal-form-button {
   display: block;
   margin: 0 auto;
   min-width: 169px;
   height: 56px;

   font-family: "Roboto", sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;

   color: var(--white);
   background-color: var(--iris);
   border-radius: 4px;

   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}